<div class="home-banner">
  <h1>Welcome, wizards.</h1>
  <p>
    This project aims to test your ability to draw meaning from context clues through a
    fun game utilizing harry potter data.
  </p>
  <p>
    Are you ready to play?
  </p>
</div>
