<div class="data-analysis">
  <div class="container-fluid container-margin">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
      <div class="d-title">

        <h1>Visualizing Potter</h1>
        <h4>Data visualization project for Code2040 fellows application</h4>
      </div>
    </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">


          <ul id ="navlist">
            <li>
              <a href"swag">mod1</a>
            </li>
            <li>
              <a href"swag">mod1</a>
            </li>
            <li>
              <a href"swag">mod1</a>
            </li>
          </ul>









      </div>
    </div>

  </div>
</div>
