<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <div class="title">

        <h2><strong>Visualizing Potter</strong></h2>
        <h5>Data visualization project for <Strong>Code2040 Fellows Program</Strong> application</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <!--navigation of modules -->
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">mod 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2">mod 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/3" id="m3">mod 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="m4">mod 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/5" id="m5">mod 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/6" id="m6">mod 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="m8">about me</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" id="data-content">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8">

          <canvas id="data_viz" width="500" height="300"></canvas>


    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
      <h4>Average Sentiment Per Spell By Mention</h4>
      <p>
        For this module, I decided to look at the relationship between the Mentions in which each spell was used and its average sentiment among
        all its mentions.
        I was interested in seeing if the contextual
        usage of the spell illustrated any pattern in regards to sentiment. Again, the sentiment was retrieved using the
        <a target="_blank" href="https://cloud.google.com/natural-language/">Google NLP API</a>.
      </p>
      <p>
        The chart being rendered partitions all spells into 5 categories of sentiment according to their average Mention sentiment score.
        Here we see that most average Mention sentiment scores for spells were either <strong>mildly negative</strong> or <strong>negative</strong>. This
        may indicate something about the general tone of the text whenever a spell is used.
      </p>

    </div>
  </div>

</div>
<%= javascript_include_tag 'm4' %>
