<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <div class="title">

        <h2><strong>Visualizing Potter</strong></h2>
        <h5>Data visualization project for <Strong>Code2040 Fellows Program</Strong> application</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <!--navigation of modules -->
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/" id="m1">mod 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2" id="m2">mod 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/3" id="m3">mod 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/4" id="m4">mod 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/5" id="m5">mod 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" id="m6">mod 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="about">about me</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" id="data-content">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8">

          <canvas id="data_viz" width="500" height="370"></canvas>


    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
      <h4>Sentiment by Position</h4>
      <p>
        The <strong>Mentions</strong> dataset came with an interesting property: <strong><em>position</em></strong>.
        For this module, I thought it would be interesting to visualize the relationship between the position of a mention
        and the sentiment at that particular position. Sentiment was retrieved using the
        <a target="_blank" href="https://cloud.google.com/natural-language/">Google NLP API</a>.
      </p>
      <p>
        As visualized in the chart being rendered, there <strong>does not appear to be any consistent linear relationship</strong> between the
        position of a mention and its sentiment. However, there does appear to be a <strong>sinusoidal shape</strong> to the visualization.
        That said, without more information on the specifications and motivations of the data, it is difficult to
        come to a conclusion regarding the relationship between position and sentiment.
      </p>

    </div>
  </div>

</div>
<%= javascript_include_tag 'm6' %>
