body {
  font-family: 'Didact Gothic', sans-serif;
}

.title {
  margin-top: 24px;
}

.active {
  text-decoration: underline;
}

#data-content {
  padding-top: 20px;
}

.pers_pic {
  width: 600px;
  height: auto;
}



@media screen and (min-width:480px) {
  .container-margin {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width:479px) {
  .container-margin {
    margin-top: -20px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
