.data-side {
  height: 100vh;
}
.menu-side {
  background-color: green;
  height: 100vh;
}

.d-title {
  background-color: yellow;
}
@media screen and (min-width:480px) {
  .container-margin {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width:479px) {
  .container-margin {
    margin-top: -20px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
