
<li><%= link_to 'Quiz', freestyle_path,
                class: selected_class('freestyle') %></li>
<li><%= link_to 'Spell 1: Reverse', reverse_path,
                class: selected_class('reverse') %></li>
