<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/head' %>
</head>

<body>
  <!-- Page content-->
    <div class="container-fluid">
      <div class="row">
      <!--Landing Page-->
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
